{% extends ":default:layout.html.twig" %}

{% block body %}

    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">

                    <div class="navbar-brand">

                        {{ "Mushkin.Trans"|trans() }}
                    </div>

                        <select style="width: 72px; margin-top: 7px" name="transLang" class="form-control" onChange="if(this.options[this.selectedIndex].value!=''){window.location=this.options[this.selectedIndex].value}else{this.options[selectedIndex=0];}">
                            <option {% if app.request.locale == 'en' %}selected{% endif %} value="{{ path('homepage', {'_locale' : 'en'}) }}">
                                {{ "eng"|trans() }}
                            </option>
                            <option {% if app.request.locale == 'ru' %}selected{% endif %} value="{{ path('homepage', {'_locale' : 'ru'}) }}">
                                {{ "rus"|trans() }}
                            </option>
                        </select>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="'row">

            <div class="col-md-6">
                <form role="form" method="get" action="{{ path ('homepage') }}">
                    <div class="form-group">
                        <label for="text">{{ "Text.to.trans"|trans() }}</label><br><br>

                            <label class="col-md-1" for="translate-from">{{ "From"|trans() }}</label>
                            <select name="translate-from" class="form-control col-md-5" style="width:150px; margin-left: 5px; margin-top: -10px">
                                <option {% if fromLang == 'en' %}selected{% endif %} value="en">
                                    {{ "en"|trans() }}
                                </option>
                                <option {% if fromLang == 'ru' %}selected{% endif %} value="ru">
                                    {{ "ru"|trans() }}
                                </option>
                                <option {% if fromLang == 'uk' %}selected{% endif %} value="uk">
                                    {{ "uk"|trans() }}
                                </option>
                                <option {% if fromLang == 'de' %}selected{% endif %} value="de">
                                    {{ "de"|trans() }}
                                </option>
                            </select>

                            <label class="col-md-1" for="translate-to">{{ "to"|trans() }}</label>
                            <select name="translate-to" class="form-control col-md-5" style="width:150px; margin-left: 5px; margin-top: -10px">
                                <option {% if toLang == 'ru' %}selected{% endif %} value="ru">
                                    {{ "ru"|trans() }}
                                </option>
                                <option {% if toLang == 'en' %}selected{% endif %} value="en">
                                    {{ "en"|trans() }}
                                </option>
                                <option {% if toLang == 'uk' %}selected{% endif %} value="uk">
                                    {{ "uk"|trans() }}
                                </option>
                                <option {% if toLang == 'de' %}selected{% endif %} value="de">
                                    {{ "de"|trans() }}
                                </option>
                            </select><br><br>

                        <input class="form-control"
                                  id="text"
                                  name="text"
                                  placeholder="{{ "Text.to.trans"|trans() }}"
                                  value ="{{ text }}">
                    </div>

                    <button type="reset" class="btn btn-danger col-md-offset-7">{{ "Reset"|trans() }}</button>
                    <button type="submit" class="btn btn-primary col-md-offset-0">{{ "Trans"|trans() }}</button>

                </form>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="trans-text">{{ "Trans.text"|trans() }}</label>
                    <textarea class="form-control"
                              id="trans-text"
                              readonly
                                rows = 6
                              >{{ text|vittrans(fromLang, toLang) }}</textarea>
                </div>
            </div>

        </div>
    </div>
{% endblock %}